<base href="http://giang-pham.org/aau/wnm608_01/pham.giang/">


<meta name="viewport" content="width=device-width">

<link rel="stylesheet" type="text/css" href="library/css/styleguide.css">
<link rel="stylesheet" type="text/css" href="library/css/gridsystem.css">
<link rel="stylesheet" type="text/css" href="css/storetheme.css">

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="library/js/functions.js"></script>
<script src="js/templates.js"></script>